@model ManualidadesEunice.Models.TipoProducto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">

    <div class="row justify-content-center">
        <div class="col-12 col-xl-10 col-md-3">

            <div class="card">
                <div class="card-header">
                    <h3>
                        <strong>Editar tipo de producto</strong>
                    </h3>
                </div>
                <div class="card-body">

                    <form asp-controller="TipoProductos" asp-action="Edit" method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="">
                                <div class="col-12 col-md-12 col-xl-3 mb-3">
                                    <label asp-for="CodigoTipoProducto"></label>
                                    <input class="form-control" type="text" asp-for="CodigoTipoProducto" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-12 col-xl-6 mb-3">
                                <label asp-for="NombreTipoProducto" class="control-label"></label>
                                <input asp-for="NombreTipoProducto" class="form-control" placeholder="Nombre de tipo producto" />
                                <span asp-validation-for="NombreTipoProducto" class="text-danger"></span>
                            </div>
                            <div class="col-12 col-md-12 col-xl-6 mb-3">
                                <label asp-for="Estado"></label>
                                <select class="form-control mb-3" type="text" placeholder="Estado" required asp-for="Estado">
                                    <option value="1">Activo</option>
                                    <option value="2">Inactivo</option>
                                </select>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="row pt-1">
                                <div class="col-6 col-md-6 mb-1 text-start">
                                    <a asp-controller="TipoProductos" asp-action="Index" class="btn btn-outline-primary">Regresar</a>
                                </div>
                                <div class="col-6 col-md-6 mb-1 text-end">
                                    <button class="btn btn-success" type="submit">Actualizar</button>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>
    </div>

</div>

