
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IniciarSesion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="wrapper">
        <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">
            <img src="/imagenes/logoE.png" alt="Alternate Text" width="230px" height="100px" />
            <div class="input-box">
                <input class="input-box form-control mb-3" type="email" placeholder="Correo" required name="correo" />
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input class="input-box form-control mb-3" type="password" placeholder="Contraseña" required name="contrasena" />
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
            </div>
            @if (ViewData["Mensaje"] != null)
            {

                <div class="form-group">
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Mensaje"]
                    </div>
                </div>
            }
            ¿No tienes una cuenta? <a href="@Url.Action("Registrarse","Inicio")"> Registrate!</a>
        </form>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>




    @* 

    <div class="container mt-5 pt-5">

        <div class="row justify-content-center">
            <div class="col-12 col-xl-4 col-md-6">

                <div class="wrapper justify-content-center">
                    <img src="/imagenes/logoE.png" width="205px" height="100px"/>
                    <div class="card-body">

                        <form asp-controller="Inicio" asp-action="IniciarSesion" method="post">

                            <input class="input-box form-control mb-3" type="email" placeholder="Correo" required name="correo" />
                            <input class="input-box form-control mb-3" type="password" placeholder="Contraseña" required name="contrasena" />
                            
                            
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {

                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿No tienes una cuenta? <a href="@Url.Action("Registrarse","Inicio")"> Registrate!</a>

                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div> *@

   
</body>
</html>
